  <header class="site-header">
    <div class="site-header__wrap">
      <a href="{{ '/index.html' | relative_url }}" class="site-brand">
        <img src="{{ '/images/icon-bmm.png' | relative_url }}" alt="Barberena Mi Municipio" class="site-brand__icon">
        <span class="site-brand__text">Barberena<br>Mi Municipio</span>
      </a>
    </div>

    <nav class="site-cats" id="siteCats">
      <a href="{{ '/index.html' | relative_url }}#cat-todas" data-cat="todas">Todas</a>
      <a href="{{ '/index.html' | relative_url }}#cat-gobierno" data-cat="gobierno">Gobierno</a>
      <a href="{{ '/index.html' | relative_url }}#cat-denuncias" data-cat="denuncias">Denuncias</a>
      <a href="{{ '/index.html' | relative_url }}#cat-comunidad" data-cat="comunidad">Comunidad</a>
      <a href="{{ '/index.html' | relative_url }}#cat-politica" data-cat="politica">Política</a>
      <a href="{{ '/index.html' | relative_url }}#cat-historia" data-cat="historia">Historia</a>
    </nav>
  </header>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6187255978940623"
     crossorigin="anonymous"></script>
